<mat-toolbar class="mb-2">
  <mat-toolbar-row class="ml-3">
    <div>
      <a mat-button [routerLink]="'/'">Home</a>
      <ng-container *ngIf="!isLoggedIn">
        <a mat-button [routerLink]="'/login'">Log In</a>
        <a mat-button [routerLink]="'/register'">Sign Up</a>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <a mat-button [routerLink]="'/officeSpaces'">Offices</a>
      </ng-container>
      <ng-container style="float: right" *ngIf="authService.loggedIn()">
        <a mat-button (click)="logout()">Logout</a>
      </ng-container>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
