<div align="center">
  <br><br><br><br>
  <h1>Office Spaces</h1>
  <br><br><br><br>
  <mat-card *ngFor="let office of officeSpaces">
    <mat-card-title>
      {{office.name}}
    </mat-card-title>
    <mat-card-subtitle>
      <strong>{{office.location}}</strong>
    </mat-card-subtitle>
    <br>
    <mat-card-actions>
      <button mat-button color="primary" (click)="gotoDetail(office)">Office details</button>
    </mat-card-actions>
  </mat-card>
</div>
