<h2 class="ml-3">{{office.name}}</h2>

<!--Fix reservation - getting the params from inputs doesn't work!! why?-->

<mat-form-field class="ml-3" appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker [(ngModel)]="selectedDate" ngDefaultControl (ngModelChange)="onDateChange(selectedDate)"></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="fill" class="elems">
  <mat-label>Select a seat</mat-label>
  <mat-select [(ngModel)]="selectedSeat" name="seat" ngDefaultControl (ngModelChange)="onSeatChange(selectedSeat)">
    <mat-option *ngFor="let seat of seats" [value]=seat.id>
      Seat - {{seat.id}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button class="elems" color="primary" (click)="makeReservation()">Reserve seat</button>

<br />
<br />
